---
import { Image } from "astro:assets";
import img1 from "../assets/image1.jpeg";
import img2 from "../assets/image2.jpeg";
import img3 from "../assets/image3.jpeg";
import img4 from "../assets/image4.jpeg";
import img5 from "../assets/image5.jpeg";
const images = [img1, img2, img3, img4, img5];
import stories from "../../dailyNews.json";
---

<div class="min-h-screen p-4 md:p-8">
  <div class="container mx-auto max-w-6xl">
    <h1
      class="mx-auto text-4xl md:text-7xl font-bold bg-gradient-to-b from-stone-950 py-2 to-stone-700/70 w-fit bg-clip-text text-transparent text-center mb-8 tracking-tight"
    >
      Top 5 from Hacker News
    </h1>
    {
      stories[0] && (
        <div class="pb-6 mx-auto w-full max-w-4xl">
          <div class="overflow-hidden rounded-2xl mx-auto relative">
            <Image
              src={images[0]}
              alt={stories[0].title}
              class="rounded-lg w-full hover:scale-105 hover:sepia-0 sepia transition-all duration-500 aspect-[5/4] object-cover"
            />
            <div class="bg-gradient-to-b from-transparent via-stone-700/70 to-stone-900 absolute bottom-0 z-10 h-40 w-full" />
            <h1 class="text-3xl md:text-5xl line-clamp-2 font-bold mb-4 absolute z-10 bottom-0 text-amber-100 px-4 py-1">
              {stories[0].title}
            </h1>
          </div>
          <div class="p-4">
            <div class="flex flex-wrap items-center text-stone-600 mb-4">
              <span class="mr-8">by {stories[0].author}</span>
              <span>
                {" "}
                on
                {new Date(stories[0].created_at).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </span>
              <div class="ml-auto hidden md:block">
                {stories[0].tags.map((tag) => (
                  <span class="bg-stone-700 text-amber-100 px-2 py-1 rounded-full ml-2 text-xs cursor-pointer">
                    {tag}
                  </span>
                ))}
              </div>
            </div>
            <p class="text-stone-700 text-base md:text-xl mb-4">
              {stories[0].aiHeadline} ...
            </p>
            <div class="flex items-center">
              <span class="mr-4">{stories[0].points} points</span>
              <span>{stories[0].num_comments} comments</span>
              <a
                href={stories[0].url}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline ml-8"
              >
                Read more &gtcc;
              </a>
            </div>
          </div>
        </div>
      )
    }

    <div
      class="mt-6 mb-16 h-0.5 w-2/3 mx-auto bg-gradient-to-r from-transparent to-transparent via-amber-950/50"
    >
    </div>

    <div class="grid md:grid-cols-2 gap-6">
      {
        stories.slice(1).map((story, i) => (
          <div class="bg-amber-50/80 shadow-lg rounded-2xl overflow-hidden transition-all duration-300 hover:shadow-xl">
            <div class="pb-6 flex flex-col justify-between h-full">
              <Image
                src={images[i + 1]}
                alt={story.title}
                class="w-full mb-6 aspect-square object-cover hover:sepia-0 sepia-[0.3] transition-all duration-500"
              />

              <h2 class="px-6 text-xl font-bold mb-2 text-stone-900">
                {story.title}
              </h2>
              <div class="px-6 text-sm text-stone-600 mb-4">
                <span class="mr-4">By {story.author}</span>
                <span>
                  on{" "}
                  {new Date(story.created_at).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </span>
              </div>
              <p class="px-6 text-stone-800/80 mb-8">{story.aiHeadline}</p>
              <div class="px-6 flex gap-2 text-sm text-stone-600/90 mt-auto">
                <span>{story.points} points</span>
                <span>{story.num_comments} comments</span>
                <a
                  href={stories[0].url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline ml-auto"
                >
                  Read more &gtcc;
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
